@namespace CDP4.COMET.HERMES.Components.Server
@using CDP4Common.CommonData
@typeparam T where T : CDP4Common.CommonData.Thing

@if (this.Source.Any())
{
    <DxTreeView>
        <Nodes>
            <DxTreeViewNode Text="@(this.Title)">
                <Nodes>
                    <DxTreeViewNode Expanded="@(this.Expanded)">
                        <Template>
                            <ul>
                                @foreach (var definedThing in this.Source)
                                {
                                    <li class="source-data" @onclick="() => this.OnClick.Invoke(definedThing)">
                                        @(((INamedThing)definedThing).Name)
                                    </li>
                                }
                            </ul>
                        </Template>
                    </DxTreeViewNode>
                </Nodes>
            </DxTreeViewNode>
        </Nodes>
    </DxTreeView>
}